






.popup{
    display: none;
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000085;
    align-items: center;
    justify-items: center;
}
.popup.active{
    display: block;
}
.popup .d-pop{
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 30px;
    margin-top: 10%;
    background-color: #fff;
    align-self: center;
    text-align: center;

}
.popup .d-pop .close{
    /* position: absolute; */
    margin-left: 95%;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.popup .d-pop .close:hover{
    background-color: red;
}
.popup .d-pop p{
    font-size: 20px;
}
.popup .d-pop select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #cccccc77;
}
.popup .d-pop button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ff9000;
    color: white;
    cursor: pointer;
}

.d-exams{
    display: flex;
    flex-wrap: wrap;
}
.exam-card {
    position: relative;
    width: 45%;
    max-width: 500px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.exam-card img {
    width: 100%;
    height: 250px;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.status-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: black;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 100%;
    text-align: center;
}
.real{
    opacity: 0;
}
.status-icon i {
    font-size: 100px;
    margin-top: 25%;
}
.locked { color: black; } /* Default locked state */
.unlocked { color: #3498db; } /* Blue unlocked */
.passed { color: green; } /* Green checkmark */
.failed { color: red; } /* Red X */




















@media (max-width: 800px){


    .d-exams{
        display: block;
        align-self: center;
        justify-self: center;
        margin-left: 0px;
        width: 100%;
    }
    .exam-card{
        width: 70%;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width: 600px){


    .d-exams{
        display: block;
        align-self: center;
        justify-self: center;
        margin-left: 0px;
        width: 100%;
    }
    .exam-card{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
}
